*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    height:100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/img1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar
{
    height:60px;
    width:100%;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.navbar a
{
    color: white;
    text-decoration: none;
    padding:0px 25px 0px 0px;
    top: 25px;
    left:25px;
    position: relative;
}
.navbar i
{
    color: white;
    text-decoration: none;
    padding-left: 20px;
    top: 25px;
    left:70%;
    position: relative;
}
.box
{
    height: 550px;
    width: 25%;
    background-color: white;
    position: relative;
    top:10%;
    left:65%;
    
}
.box h1
{
    text-align: center;
    padding:20px;
    top:40px;
    position: relative;
}
.box p
{
    text-align: center;
    top:65px;
    position: relative;
    font-size: 25px;
    color: grey;
}
 input
{
    width: 60%;
    height: 45px;
    position: relative;
    top: 20%;
    left: 17%;
    margin: 10px;
    border-radius: 20px;
    padding:10px;
}
 button
{
    border-radius: 20px;
    width: 60%;
    height: 45px;
    position: relative;
    top: 20%;
    left: 17%;
    padding:10px;
    margin: 10px;
    background-color: blue;
    color: white;
    
}

.content
{   
	position:absolute;
	font-size:30px;
	left:8%;
	top:35%;
	color:white;
}
.play
{
    height:50px;
    width:50px;
    border-radius: 50px;
    background-color: white;
    position:relative;
    left:8%;
	top:45%;
}
.play i
{
    position:relative;
    top:15px;
    left:17px;
}
.p1
{
    color:white;
    top:41.5%;
    left:11%;
    position: relative;
}