<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"type="text/css"href="css/style.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
          <img src="images/logo.png" alt="">
        </div>
        <div class="companyName">
            <h2>H&M</h2>
        </div>
    </div>
    <div class="Homecontainer">
      <h2>Home</h2>
    </div>
    <div class="imgcontainer">
     <img src="images/banner.jpg" alt="">
    </div>
    <div class="gallerycontainer">
      <h2>Gallery</h2>
    </div>
    <div class="images">
        <div class="box1">
          <img src="images/img1.jpg" alt="">
        </div>
        <div class="box2">
          <img src="images/img2.jpg" alt="">
        </div>
        <div class="box3">
          <img src="images/img3.jpg" alt="">
        </div>
        <div class="box4">
          <img src="images/img4.webp" alt="">
        </div>
    </div>

    <div class="foot">
      <h2> &copy; by Red & White</h2>
    </div>  
     
</body>
</html>